<!-- home.component.html -->
<!-- <div class="home-container">
  <h2>Welcome to the Home Page</h2>
  <p>You are logged in as <span class="username">{{ username }}</span>!</p>
  <button (click)="onLogout()" class="logout-button">Logout</button>
</div> -->

<!-- home.component.html -->
<mat-card class="home-card">
  <h2>Welcome to the Home Page</h2>
  <p>You are logged in as <span class="username">{{ username }}</span>!</p>
  <button (click)="onLogout()" mat-raised-button color="primary">Logout</button>
</mat-card>


  
